venv/
.venv/
ENV/
env/

.vscode/

.env
.env.*

__pycache__/
*.py[cod]
*$py.class

*.sqlite3

*.log

*.tmp
*.bak
*.swp

staticfiles/
media/

build/
dist/
*.egg-info/

.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

local_settings.py

Thumbs.db
Desktop.ini
.DS_Store
