{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %}Home{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

    <header class="header">
        <nav class="header-navegacao">
            <ul class="menu-interacao">
                <li>
                    <a 
                        class="header-navegacao-link" 
                        href="{% url 'tasks:home' %}"
                    >
                        Home
                    </a>
                </li>
                <li>
                    <a 
                        class="header-navegacao-link" 
                        href="{% url 'tasks:cadastrar' %}"
                    >
                        Cadastrar tarefa
                    </a>
                </li>
                <li>
                    <a 
                        class="header-navegacao-link" 
                        href="{% url 'tasks:listar' %}"
                    >
                        Lista de tarefas
                    </a>
                </li>
            </ul>

            <ul class="nav-autenticacao">
                {% if user.is_authenticated %}
                    <li>
                        <a 
                            class="header-navegacao-link logout"
                            href="{% url 'account:logout' %}"
                        >
                            Logout
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </header>
   

    <main class="container">

        {% if messages  %}
            <div class="espaco-messages">
    
                {% for message in messages %}
                    <p class="{{ message.tags }}"> 
                        {{ message }}
                    </p>
                {% endfor %}
        
            </div>
        {% endif %}


        {% block main %}
        
        
        {% endblock %}
    </main>

    <footer class="rodape">
        Sistema desenvolvido pelo Erick Almeida
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>