<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Home{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#1">Link 1</a></li>
                <li><a href="{% url 'tasks:cadastro' %}">Cadastar tarefa</a></li>
                <li><a href="{% url 'tasks:listar' %}">Lista de tarefas</a></li>
            </ul>
        </nav>
    </header>
   

    <main>
        {% block main %}
        
        
        {% endblock %}
    </main>

    <footer>
        Sistema desenvolvido pelo Erick Almeida
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>