{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro de tarefa{% endblock %}

{% block head %} <link rel="stylesheet" href="{% static 'tasks/css/form.css' %}"> {% endblock %}

{% block main %}

    <form method="POST" action="{% url 'tasks:cadastrar' %}" class="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <button type="submit" class="btn">Cadastrar</button>
        <a href="{% url 'tasks:home' %}" class="btn-cancel">Cancelar</a>
    </form>


{% endblock %}